<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pcn_box.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="pcn_box.Properties.Settings.u_demo_0101ConnectionString"
            connectionString="Data Source=192.168.0.161;Initial Catalog=u_demo_0101;User ID=sa;Password=nXt123123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <pcn_box.Properties.Settings>
            <setting name="uniq1ConnectionString" serializeAs="String">
                <value>
                </value>
            </setting>
        </pcn_box.Properties.Settings>
    </userSettings>
</configuration>